{
	 "Version": "2012-10-17",
	 "Statement": [
		  {
				"Sid": "AllowDescribeForAllResources",
				"Effect": "Allow",
				"Action": [
					 "ec2:Describe*"
				],
				"Resource": "*"
		  },
		  {
				"Sid": "OnlyAllowCertainInstanceTypesToBeCreated",
				"Effect": "Allow",
				"Action": [
					 "ec2:RunInstances"
				],
				"Resource": [
					 "arn:aws:ec2:us-east-1:account:instance/*"
				],
				"Condition": {
					 "StringEquals": {
						  "ec2:InstanceType": [
								"t2.small",
								"t2.medium"
						  ]
					 }
				}
		  },
		  {
				"Sid": "AllowAdditionalResourcesToSupportLaunchingEC2ClassicInstances",
				"Effect": "Allow",
				"Action": [
					 "ec2:RunInstances"
				],
				"Resource": [
					 "arn:aws:ec2:us-east-1:account:key-pair/*",
					 "arn:aws:ec2:us-east-1:account:security-group/*",
					 "arn:aws:ec2:us-east-1:account:volume/*",
					 "arn:aws:ec2:us-east-1::image/ami-*"
				]
		  },
		  {
				"Sid": "AllowUserToStopStartDeleteInstances",
				"Effect": "Allow",
				"Action": [
					 "ec2:TerminateInstances",
					 "ec2:StopInstances",
					 "ec2:StartInstances"
				],
				"Resource": "arn:aws:ec2:us-east-1:account:instance/*"
		  }
	 ]
}

{
	"Version": "2012-10-17",
	"Statement": [{
		"Effect": "Allow",
		"Action": "ec2:RunInstances",
		"Resource": [
			"arn:aws:ec2:region:account:instance/*"
		],
		"Condition": {
			"StringEquals": {
				"ec2:InstanceType": ["t2.micro", "t2.small"]
			}
		}
	},
	{
		"Effect": "Allow",
		"Action": "ec2:RunInstances",
		"Resource": [
			"arn:aws:ec2:region::image/ami-*",
			"arn:aws:ec2:region:account:subnet/*",
			"arn:aws:ec2:region:account:network-interface/*",
			"arn:aws:ec2:region:account:volume/*",
			"arn:aws:ec2:region:account:key-pair/*",
			"arn:aws:ec2:region:account:security-group/*"
		]
	}]
}

{
	"Version": "2012-10-17",
	"Statement": [
		{
			"Effect": "Deny",
			"Action": "ec2:RunInstances",
			"Resource": [
				"arn:aws:ec2:region:account:instance/*"
			],
			"Condition": {
				"StringNotEquals": {
					"ec2:InstanceType": ["t2.micro", "t2.small"]
				}
			}
		},
		{
			"Effect": "Allow",
			"Action": "ec2:RunInstances",
			"Resource": [
				"arn:aws:ec2:region::image/ami-*",
				"arn:aws:ec2:region:account:network-interface/*",
				"arn:aws:ec2:region:account:instance/*",
				"arn:aws:ec2:region:account:subnet/*",
				"arn:aws:ec2:region:account:volume/*",
				"arn:aws:ec2:region:account:key-pair/*",
				"arn:aws:ec2:region:account:security-group/*"
			]
		}
		{
			"Effect": "Allow",
			"Action": "ec2:*",
			"Resource": "*",
			"Condition": {
				"StringEquals": {
					"ec2:Region": "eu-central-1"
				}
			}
		}
	]
}

{
	"Version":"2012-10-17",
	"Statement":[
		{
			"Effect": "Allow",
			"Action": "ec2:*",
			"Resource": "*",
			"Condition": {
				"StringEquals": {
					"ec2:Region": "eu-central-1"
				}
			}
		}
	]
}
